# Copy this file to .env and update the values as needed
ENV=QC
CLIENT=SwagLabs

HEADLESS=false
SLOW_MO=100
TIMEOUT=30000

CI=false
PARALLEL_WORKERS=1

SCREENSHOT_ON_FAILURE=true
VIDEO_ON_FAILURE=true
TRACE_ON_FAILURE=true

MAX_LOGIN_TIME=10000
MAX_PAGE_LOAD_TIME=5000